.header {
	padding: 10px;
	position: fixed;
	right: 0;
	z-index: 1;

	.button {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #455ce9;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.burger {
		width: 100%;
		&::after,
		&::before {
			content: "";
			display: block;
			height: 2px;
			width: 40%;
			margin: auto;
			background-color: white;
			position: relative;
			transition: transform 0.5s;
		}

		&::after {
			top: -5px;
			left: 5px;
		}

		&::before {
			top: 5px;
			left: 0px;
		}
	}

	.burgerActive {
		&::after {
			transform: rotate(45deg);
			top: -1px;
			left: 0px;
		}

		&::before {
			transform: rotate(-45deg);
			top: 0px;
			left: 0px;
		}
	}
}
